---
import "../styles/global.css";
---

<html>
  <head>
    <title>Blog</title>
  </head>

  <body>
    <nav>
      <a href="/">Home</a> |
      <a href="/about">About</a> |
      <a href="/blog">Blog</a>
    </nav>

    <h1>My Blog</h1>

    <ul>
      <li><a href="/posts/first-post">My First Post</a></li>
    </ul>
  </body>
</html>