---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <head>
    <title>Home</title>
  </head>

  <body>
    <Header />

    <p>This is my first Astro site.</p>

    <Footer />

    <script is:inline>
      console.log("Hello from Astro!");
    </script>
  </body>
</html>